
/*
  * Variables
*/
/* Main Color Green: #66cc33 */

/*
  * General
  * Helpers
  * Header
  * Steps Component
  * Plans
  * Plan Price
  * preferred-start-date
  * CustomTabs
  * CustomTabs Tab1
  * CustomTabs Tab2
  * CustomTabs Tab3
  * Special Checkbox
  * Information
  * Promotional Code
  * Expert Checkbox
  * Form
  * Radio Questions
  * custom-checkbox-style

  * Media Queries
  
  @media(max-width:480px){}
  @media(max-width:767px){}
  @media(min-width:768px){}
  @media(min-width:992px){}
  @media(min-width:1200px){}
*/


/*
  * General
*/
body {
  background-color: #f4f4f4;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
.body--navbar-fixed-top {
  padding-top: 50px;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
  margin-left: 0;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #494849;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder { /* Firefox 19+ */
  color: #494849;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder { /* IE 10+ */
  color: #494849;
}
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder { /* Firefox 18- */
  color: #494849;
}
.subtitle {
  color: #494849;
  font-size: 23px;
  line-height: 1;
  margin-bottom: 15px;
}
/*
  * Helpers
*/
.separator--h {
  border-bottom: 4px solid #eaeaea;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*
  * Header
*/

.navbar-default {
  background-color: #ffffff;
  border-color: #f4f4f4;
}
.navbar-default .navbar-brand {
  padding: 0;
}
.navbar-default .navbar-brand img {
  margin-left: 15px;
  margin-top: 10px;
  max-width: 180px;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #66cc33;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  border-radius: 0;
}

/*
  * Steps Component
*/

.steps-component {
  margin-top: 20px;
}
.steps-component__tabs {
  list-style-type: none;
  margin: 0 0 5px;
  padding: 0;
}
@media(min-width:480px) {
  .steps-component__tabs {
    display: table;
    margin-bottom: 50px;
    width: 100%;
  }
}
.steps-component__tabs__item {
  font-size: 18px;
  line-height: 1;
  padding-bottom: 10px;
}
.steps-component--working
.steps-component__tabs__item:not(.steps-component__tabs__item--active) a {
  text-decoration: none;
  cursor: no-drop;
  color: #cccccc;
  opacity: 0.7;
}
@media(min-width:480px) {
  .steps-component__tabs__item {
    padding: 10px 10px 10px 0;
    display: table-cell;
  }
  .steps-component__tabs__item:last-child {
    padding-right: 0;
  }
}
.steps-component__tabs__item a {
  color: #333333;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}
.steps-component__tabs__indicator {
  background-color: #73bf45;
  border-radius: 0;
  height: 5px;
  margin-top: 10px;
  width: 100%;
}
.steps-component--working
.steps-component__tabs__item:not(.steps-component__tabs__item--active) a .steps-component__tabs__indicator {
  background-color: #cccccc;
}
/*.steps-component__steps {}*/
.steps-component__steps__item {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
}
.steps-component--working
.steps-component__steps__item:not(.steps-component__steps__item--active) {position: relative;}
.steps-component--working
.steps-component__steps__item:not(.steps-component__steps__item--active):after {
  background-color: transparent;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.55;
  position: absolute;
  top: 0;
  width: 100%;
}
.steps-component__steps__item:not(:last-child) {
  margin-bottom: 10px;
}
.steps__item__title {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 1em;
  margin-bottom: 20px;
}
.steps__item__description {
  display: inline-block;
  font-size: 16px;
  line-height: 1.1em;
  margin: 0 0 15px;
}
@media(min-width:480px){
  .steps__item__description {
    margin-bottom: 20px;
  }
}
.steps-button {
  background-color: #ff6640;
  border-radius: 7px;
  border: 1px solid #ff6640;
  color: white;
  display: inline-block;
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
  margin-top: 10px;
  padding: 10px 15px;
}

/*
  * Plans
*/
.plan {
  margin-bottom: 20px;
}
.plan__title {
  margin-bottom: 20px;
}
.plan__title__icon {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  padding: 5px;
  vertical-align: middle;
  width: 50px;
}
@media(min-width:992px){
  .plan__title__icon {
    height: 60px;
    width: 60px;
  }
}
.plan__title__icon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.plan__title__text {
  font-weight: 300;
  font-size: 25px;
  line-height: 1em;
}
@media(min-width:992px){
  .plan__title__text {
    font-size: 1.5em;
  }
}
.plan__description {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
/*
  * Plan Price
*/
.plan-price {
  font-size: 1em;
  font-weight: 400;
}
.plan-price--num {font-size: 1.4em;}
.plan-price--txt {font-size: 1em;}
@media(min-width:480px){
  .plan-price--txt {font-size: 1.2em;}
}
.plan-price--small {font-size: 0.75em;}
/*
  * preferred-start-date
*/
.preferred-start-date {
  display: block;
  font-size: 1.2em;
}
.preferred-start-date:before,
.preferred-start-date:after {content: ""; display: block; clear: both;}
.preferred-start-date__text {
  display: inline-block;
  font-weight: 600;
}
.preferred-start-date__calendar {
  color: #73bf45;
  cursor: pointer;
  float: right;
}
/*.preferred-start-date__calendar .glyphicon {}*/

/*
  * CustomTabs
*/
/*.steps-component__steps__item {}*/
/*
  * CustomTabs Tab1
*/
/*.steps-component__steps__item--01 {}*/
/*
  * CustomTabs Tab2
*/
/*.steps-component__steps__item--02 {}*/
.steps-component__steps__item--02 .steps__item__title {
  margin-bottom: 0;
}
.pure-option-checkbox {
  color: #ff6640;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}
/*
  * CustomTabs Tab3
*/
/*.steps-component__steps__item--03 {}*/
/*
  * Special Checkbox
*/
.special-checkbox {
  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.special-checkbox label {
  padding: 0;
  width: 100%;
}
.special-checkbox--active {
  border-color: #73bf45;
}
/*
  * Informatión
*/
/*.your-info {}*/
.your-info h3 {
  display: inline-block;
}
.information__item {
  margin-bottom: 20px;
}
.information__item span {display: block;}

/*
  * Promotional Code
*/
.prom-code {
  margin-bottom: 20px;
}
.prom-code__txt {display: inline-block;}
.prom-code__toggle {display: inline-block;}
/*.prom-code__input {}*/
/*.prom-code__input input {}*/
/*.prom-code__input span {}*/
/*.prom-code__input span button {}*/


/*
  * Expert Checkbox
*/
.select-expert-options {
  margin: 20px 0;
}
.show-expert-options > div, 
.expert-checkbox {
  background-color: #dcdcdc;
  border-radius: 3px;
  color: gray;
  border: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}
.expert-checkbox--active {
  background-color: #73bf45;
  border-color: #73bf45;
  color: #ffffff;
}
.expert-checkbox label {
  display: block;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}
.expert-checkbox label input[type="checkbox"] {
  display: block;
  left: -15px;
  margin: 0;
  padding: 0;
  position: absolute;
}
.show-expert-options > div {
  margin-right: 10px;
  padding: 5px 10px;
}
.show-expert-options > div button {
  border: none;
  line-height: 1;
  color: #333333;
  background-color: transparent;
  margin-left: 10px;
  font-weight: 100;
  font-size: 15px;
}
/*
  * Form
*/
@media(min-width:480px){
  .steps__form input {
    font-size: 16px;
  }
}
/*
  * * Radio Questions
*/
/*.radio-questions {}*/
.radio-questions .custom-radio {
  padding: 0;
  width: 49%;
}
@media(min-width:768px){
  .radio-questions .custom-radio {
    margin-right: 15px;
    width: auto;
  }
}
.radio-questions .custom-radio label {
  cursor: pointer;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.radio-questions .custom-radio label:before,
.radio-questions .custom-radio label:after {
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ababab;
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  width: 20px;
}
.radio-questions .custom-radio--active label:after {
  background-color: #64ca32;
  border: 0px;
  height: 10px;
  left: 5px;
  top: 5px;
  width: 10px;
}
.radio-questions .custom-radio label input[type="radio"] {
  left: 0;
  position: absolute;
  top: 0;
}
.radio-questions .custom-radio label span {
  font-size: 15px;
  padding-left: 25px;
}

/*
  *
*/
.custom-checkbox-style {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #b7b7b7;
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 20px;
}
.custom-checkbox-style label {
  display: block;
  height: 100%;
  padding: 0;
  width: 100%;
}
.custom-checkbox-style--active label:after {
  background-image: url("../images/design/icons/checked_true.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: calc(100% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: calc(100% - 4px);
}
.custom-checkbox-style label input[type="checkbox"] {
  left: 0px;
  position: absolute;
  top: 0;
}
.custom-checkbox-style--active {
  background-color: #60a835;
  border-color: #60a835;
}